 

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

td, th {
  border: 2px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

input {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 5px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

